# oh-my-zsh
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
DISABLE_AUTO_UPDATE="true" # chezmoi handles it
plugins=(
	zsh-autosuggestions
	zsh-syntax-highlighting
	zsh-vi-mode
	brew
	tmux
)

#tmux
ZSH_TMUX_AUTOSTART=true
ZSH_TMUX_FIXTERM_WITH_256COLOR=true

#zsh-vi-mode
ZVM_VI_HIGHLIGHT_BACKGROUND=#37393B

export EDITOR=nvim
export VISUAL=nvim
export LANG=en_US.UTF-8

# extends the path
path() {
	export PATH=$PATH:$1
}

#paths
path "$HOME/context/tex/texmf-osx-arm64/bin"
path "/opt/homebrew/opt/make/libexec/gnubin"
path "/opt/homebrew/opt/libpq/bin"

# go
path $HOME/go/bin

# rust
path $HOME/.cargo/bin


# WezTerm
path /Applications/WezTerm.app/Contents/MacOS


# node
path ./node_modules/.bin
path $HOME/.local/bin/

# dotnet
export DOTNET_ROOT="/opt/homebrew/opt/dotnet@6/libexec"

#zoxide
eval "$(zoxide init --cmd cd zsh)"

# bun
export BUN_INSTALL="$HOME/.bun"
path "$BUN_INSTALL/bin"
[ -s "/Users/gamidli/.bun/_bun" ] && source "/Users/gamidli/.bun/_bun"

# opencode
path /Users/gamidli/.opencode/bin


if [  -f ~/.workZSH.sh ]; then
	source ~/.workZSH.sh
fi

if [  -f ~/.aliases.sh ]; then
	source ~/.aliases.sh
fi

source $ZSH/oh-my-zsh.sh
