if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

export ZSH="$HOME/.oh-my-zsh"
export FLUTTER_ROOT=$HOME/FlutterDev/flutter

ZSH_THEME="robbyrussell"
DISABLE_AUTO_UPDATE="true"
VI_MODE_SET_CURSOR=true

plugins=(
  git 
  zsh-syntax-highlighting
  zsh-autosuggestions
  vi-mode
  aliases
)

source $ZSH/oh-my-zsh.sh
source $HOME/.docker/init-zsh.sh || true


alias lzd='lazydocker'
alias lg='lazygit'

export PATH="$PATH:$HOME/FlutterDev/flutter/bin"
export PATH="$PATH:/opt/homebrew/opt/node@18/bin"
export PATH="$PATH:/opt/homebrew/opt/python@3.11.6/libexec/bin"
export PATH="$PATH:/opt/homebrew/opt/scala@2.13/bin"
