local wezterm = require("wezterm")
local config = wezterm.config_builder()

--FONT
config.font = wezterm.font("Iosevka Fixed")
config.font_size = 18
config.harfbuzz_features = { "calt=0", "clig=0", "liga=0" } -- disable ligatures

--TAB
config.tab_bar_at_bottom = true
config.use_fancy_tab_bar = false
config.hide_tab_bar_if_only_one_tab = true
config.inactive_pane_hsb = {
	saturation = 0.8,
	brightness = 0.8,
}

--WINDOW
config.window_padding = {
	left = 5,
	right = 5,
	top = 5,
	bottom = 5,
}
config.window_background_opacity = 0.80
config.window_decorations = "RESIZE"

config.default_cursor_style = "BlinkingUnderline"

config.color_scheme = wezterm.gui.get_appearance() == "Dark" and "Everforest Light Soft (Gogh)"
	or "Everforest Dark Soft (Gogh)"

-- config.enable_kitty_keyboard = true
-- config.enable_csi_u_key_encoding = false

config.max_fps = 120

config.automatically_reload_config = true
config.term = "wezterm"

return config
