# zsh
export ZSH="$HOME/.oh-my-zsh"
DISABLE_AUTO_UPDATE="true"
ZSH_THEME="robbyrussell"
VI_MODE_SET_CURSOR=true
plugins=(
  git 
  zsh-syntax-highlighting
  zsh-autosuggestions
  vi-mode
  aliases
)
source $ZSH/oh-my-zsh.sh

if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

#aliases
alias lzd='lazydocker'
alias lg='lazygit'
alias cz='chezmoi'


{{ if eq .chezmoi.os "darwin" }}
# darwin/mac m chip
{{ else if eq .chezmoi.os "linux" }}
# linux
{{ else }}
# other operating system
{{ end }}

# machine-specific configuration
{{- if eq .chezmoi.hostname "work-laptop" }}
# work-laptop
{{- end }}
