[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
[http]
        proxy = {{ .proxy | quote }}
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[credential]
        helper = osxkeychain
